@model NUser
@{
    ViewData["Title"] = "AddUser";
}


<form method="post">
    <div class="p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Add User</h2>
        </div>
    </div>

    <div asp-validation-summary="All"></div>

    <div class="mb-3">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
        </br>

        <label asp-for="Email"></label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
        </br>

        <label asp-for="Price"></label>
        <input asp-for="Price" class="form-control" />
        <span asp-validation-for="Price" class="text-danger"></span>
        </br>


        <button type="submit" class="btn btn-success" style="width:150px" >Save</button>
        <a asp-action="Index" asp-controller="NUsers" class="btn btn-secondary" style="width:150px">Back to Users</a>
    </div>

</form>

        @section Scripts {
            <partial name="_ValidationScriptsPartial" />
        }